@media (min-width:1025px) { 
	.box-central {
		width: 80% !important;

	}

}

body {
	background-color: #EFF1F3;
	font-size: 14px;
}

.form-control-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-append > .btn, .input-group-lg > .input-group-append > .input-group-text, .input-group-lg > .input-group-prepend > .btn, .input-group-lg > .input-group-prepend > .input-group-text {
	font-size: 14px;

}

.box-central {
	margin: 0 auto;
	background-color:#FBFBFC;
	margin-top: 1.5%;
	border-style: solid;
	border-color: #C7D0D4;
	border-width: 1px;
	border-radius: 5px;
}

.box-header { 
	border-bottom: 1px solid #f1f1f3;
	/* Border should be #f1f1f3; */
	padding: 20px 20px 5px 20px;
}

.alinhamento-vertical {
	-ms-flex-align: center!important;
  align-items: center!important;
}

.box-header h5 {
	color: #495056;
	font: 23px Arial, sans-serif;
	font-weight: bold;
	padding-bottom: 5px;
	
}

.box-left {
	margin-top: auto;
	margin-bottom: auto;
}

.box-right {
	margin-top: auto;
	margin-bottom: auto;
}

.box-step {
	padding: 20px;
}

.box-title {
	position: relative;
	color: #2695D7;
	
	font: 20px Arial, sans-serif; 
}

.box-footer h6 {
	color: #329454;
	font: 14px 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.box-footer .mobile-padding {
	margin-bottom: 30px;
}

.box-title-number {
	display: inline-block;

	border-radius: 50%;

	width: 36px;
	height: 36px;
	padding: 6px;

	background: #fff;
	border: 1px solid #2695D7;
	text-align: center;
}

.box-title-text {
	display: inline-block;
	margin-left: 10px;
}

.box-description {
 padding: 10px 0px 10px 0px;
	color: #5F656A;
}

.box-input {
	padding-bottom: 5px;
}

.box-footer {
	padding: 20px;
}


/* --- Acordeon Page -- */
/* --- Focus TY Forms -- */
.btn-link:hover, .btn-link:focus {
	text-decoration: none !important;
}

.card-header {
	border-bottom:0px;
}

.card-header:first-child {
	border-radius: 0px;
}

.card-footer{
	background-color:rgba(0,0,0,.03);
	border-top:0px;
}

.box-cartao {
	margin:0px auto;
}

.box-boleto {
	padding: 20px;
	font: 14px 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.box-boleto li {
	line-height: 30px;
	list-style-type: square;
}

.box-boleto h6 {
	font-weight: bold;
	font-size: 16px;
}

.box-boleto span {
	color: #51A9DA;
	font-weight: bold;
}

button {
	text-transform: uppercase;
	margin: 10px 0px 0px 0px;
}

/* Input shinenigans */

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .far {
  position: absolute;
  padding: 15px;
	pointer-events: none;
	font-size: 18px;
	color: #6C757D;
}

/* align glyph */
.left-addon .far  { left:  0px;}
.right-addon .far { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  45px; }
.right-addon input { padding-right: 30px; }

.info_cartao_checkout{
	float: left;
	margin: 130px 0 0 30px;
	color: #F2F2F2;
	font-weight: 600;
	text-shadow: 2px 1px 0 #666;
}

.box-cartaos{
	background-image: url('../assets/images/credit-card.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 220px
}

@media screen and (max-width: 480px) {
	.box-cartaos{
		background-image: url('../assets/images/credit-card.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		height: 120px
	}

	.info_cartao_checkout{
		float: left;
		margin: 60px 0 0 35px;
		color: #F2F2F2;
		font-weight: 600;
		text-shadow: 2px 1px 0 #666;
		font-size: 10px;
	}
}