@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700');

body {
    font-family: 'Open Sans', sans-serif;
}

.container-fluid {
    padding-left: 12rem;
    padding-right: 12rem;
}

/*********************
		HEADER
*********************/
header {
    background-color: #000000;
    padding-top: 5px;
    padding-bottom: 5px;
}

header .media .media-left h3 {
    color: #f9de5b;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    font-weight: 600;
    margin-top: 5px;
}

header .right-text p {
    color: #ffffff;
    font-size: 12px;
    line-height: 12px;
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
}

#the-final-countdown {
    color: #ffffff !important;
}

#the-final-countdown span {
    letter-spacing: 5px;
    line-height: 30px;
    padding: 0;
    margin: 0px;
    font-size: 24px;
    font-weight: 800;
    display: block;
    font-family: 'Oswald', sans-serif;
}

#the-final-countdown p {
    font-size: 12px;
    font-weight: 400;
    margin: 0px;
    line-height: 5px;
}

#the-final-countdown p small {
    padding-left: 1rem;
}

#the-final-countdown small:first-child {
    padding-left: 0px;
}

#the-final-countdown small:last-child {
    padding-left: 1.5rem;
}

/*******************
		MAIN
*******************/

/***********
BANNER AREA
***********/
.banner-area {
    margin-top: 1rem;
}

.banner-area-inner {
    padding-left: 6rem;
    padding-right: 6rem;
}

.banner-area-inner .rounded {
    -webkit-box-shadow: -1px 1px 10px 1px rgba(128, 128, 128, 0.5);
    -moz-box-shadow: -1px 1px 10px 1px rgba(128, 128, 128, 0.5);
    box-shadow: -1px 1px 10px 1px rgba(128, 128, 128, 0.5);
}

.banner-gaurantee {
    margin-top: 1rem;
}

.banner-gaurantee .media-left img {
    width: 130px;
}

.banner-gaurantee .media-body p {
    color: #000;
    font-size: 14px;
    font-weight: 700;
}

.banner-area-text-box {
    background-color: #BFBFBF;
    padding: 15px 15px 15px 15px;
}

.banner-area-text-box p {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    margin: 0px;
}

.banner-area-text-box .green {
    color: #058A11;
    font-weight: 800;
    font-style: normal;
}

.banner-area-text-box .red {
    color: #FE0303;
    font-weight: 800;
    font-style: normal;
}

.banner-area-text-box .black {
    color: #000000;
    font-weight: 800;
    font-style: normal;
}

.banner-icon-area {
    margin-top: 2rem;
}

.banner-icon-area p {
    font-size: 14px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 400;
    margin: 0px;
}

.banner-icon-area span {
    text-transform: uppercase;
    font-weight: 700;
}

/***********
FORM AREA
***********/
.form-area {
    margin-top: 3rem;
}

.form-area .form-img-side img {
    -webkit-box-shadow: -1px 1px 10px 1px rgba(128, 128, 128, 0.5);
    -moz-box-shadow: -1px 1px 10px 1px rgba(128, 128, 128, 0.5);
    box-shadow: -1px 1px 10px 1px rgba(128, 128, 128, 0.5);
}

.total-table {
    margin-top: 2rem;
    background-color: #DADADA;
    padding: 15px 00px 0px 00px;
}

.total-table h3 {
    font-style: italic;
    font-weight: 800;
    text-align: center;
}

.total-table-inner {
    padding: 10px 55px 10px 55px;
}

.total-table-inner p {
    font-size: 14px;
    font-style: italic;
    margin: 0px;
}

.total-table-inner span {
    font-size: 14px;
    font-weight: 800;
}

.total-table-inner .media {
    background-color: #fff;
    padding: 10px 20px 10px 20px;
}

.total-table-inner .media p {
    margin: 0px;
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
    text-align: right;
}

.total-table-inner .media .text-bold {
    font-size: 13px;
    font-style: normal;
    font-weight: 800;
    text-align: left;
}

.total-table .total-table-footer {
    background-color: #F7E9A8 !important;
    padding: 10px 50px 40px 50px;
}

.form-side {
    -webkit-box-shadow: -1px 1px 10px 1px rgba(128, 128, 128, 0.5);
    -moz-box-shadow: -1px 1px 10px 1px rgba(128, 128, 128, 0.5);
    box-shadow: -1px 1px 10px 1px rgba(128, 128, 128, 0.5);
    background-color: #fff;
    border-radius: 2px;
}

.form-side .form-side-header {
    background-color: #F9DE5B;
    text-align: center;
    padding: 15px;
    border-radius: 2px;
}

.form-side .form-side-header h2 {
    font-style: italic;
    font-weight: 800;

}

.form-side-inner {
    padding: 5px 50px 5px 50px;
}

.form-side-inner form label {
    font-size: 13px;
    font-weight: 800;
    margin: 0px;
    display: block;
    margin-left: 0.4rem;
}

.form-side-inner form input {
    width: 100%;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    padding: 7px;
    margin-bottom: 1rem;
}

.form-side-inner form input:focus {
    box-shadow: none !important;
    outline: none !important;
}

.form-side-inner form select {
    color: #aaa;
    font-size: 13px;
    display: inline-block;
    height: 35px !important;
}

.form-side-inner form select:focus {
    box-shadow: none !important;
    outline: none !important;
}

.form-side-inner form a.btn {
    margin-top: 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    background-color: #17881C;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    margin-bottom: 2rem;
}

/*
		FOOTER
*/
footer {
    background-color: #000;
    margin-top: 4rem;
    padding-top: 1.5rem;
    padding-bottom: 0rem;
    margin-bottom: 1rem;
}

footer p {
    color: #f9de5b;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    margin: 0px;
}

footer span {
    color: #fff;
    font-size: 12px;
}

footer img {
    -webkit-box-shadow: -1px 1px 10px 1px rgba(128, 128, 128, 0.5);
    -moz-box-shadow: -1px 1px 10px 1px rgba(128, 128, 128, 0.5);
    box-shadow: -1px 1px 10px 1px rgba(128, 128, 128, 0.5);
    width: 280px;
}

footer .footer-img {
    margin-top: -50px;
}

/*
		PAGE2
*/
.banner-area-inner2 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.banner-gaurante-page2 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.banner-icon-area-page2 img {
    width: 60px;
}

.banner-icon-area-page2 .media-body {
    padding-left: 0.4rem;
}

.banner-icon-area-page2 p {
    font-size: 12px;
}

.form-area-page2 .form-side-header {
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*
	MEDIA
*/
@media (max-width: 1199px) {
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 860px) {
    .banner-area-inner {
        padding-left: inherit;
        padding-right: inherit;
    }
}

@media (max-width: 764px) {
    .clock-area {
        text-align: center;
    }

    footer .footer-img {
        margin-top: 0px;
        text-align: center;
        margin-bottom: 10px;
    }
}

.corpo-frame-finalizado {
    margin-top: 105px;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.corpo-frame-finalizado iframe {
    border: 0;
}

.fixo-finalizado {
    border: solid 1px #f5f5f5;
    padding: 10px 20px 15px 20px;
    box-shadow: 0 0 4px #0f0f0f;
    background-color: #FFF;
    font-size: 13px;
}

.js div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff url('../images/logo-trats-mini.png') no-repeat center center;
}

/* hack for modal in checkout */
.modal{
    background-color: rgba(0, 0, 0, 0.3);
}
.modal-backdrop{
    position: relative;
}

.imgCard{
    float: right;
    position: absolute;
    right: 30px;
    top: 25px;
}